<p id="notice"><%= notice %></p>

<p>
  <b>Page:</b>
  <%= @oase.page_id %>
</p>

<p>
  <b>Description:</b>
  <%= @oase.description %>
</p>


<%= link_to 'Edit', edit_oase_path(@oase) %> |
<%= link_to 'Back', oases_path %>
